/* reset everything to 0 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

/* header styles start */
header{
    background: #333;
    display: flex;
    width: 100%;
    padding: 1.5rem;
    justify-content: space-around;
    gap: 2rem;
}
.logo-wrap{
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.logo{
    color: aliceblue;
}
.logo-large{
    font-weight: 800;
    font-size: 1.5rem;
}
.nav-menu{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.nav-menu-item a{
    text-decoration: none;
    color: aliceblue;
}
/* .search-box{
    position: absolute;
} */
.search-txt{
    padding: .3rem .7rem;
    border: none;
    border-radius: 50px;
    line-height: 100%;
}
.search-txt:focus{
    outline: none;
}
.fa-search{
    position: relative;
    color: #333;
    background: none;
    text-decoration: none;
    border: none;
    right: 40px;
}
/* header styles end */
/* hero styles */
.hero{
    background: url(/images/backgroundImg-01.jpg);
    height: calc(100vh - 8.8vh);
    background-size: cover;
    /* object-fit: cover; */
    background-position: center;
    color: aliceblue;
    display: grid;
    place-items: center;
}
.hero-wrap{
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(12px);
    padding: 1rem;
    width: 50%;
    border-radius: 12px;
    display: grid;
    justify-content: center;
}
.hero h1{
    font-size: 4.5rem;
    line-height: 110%;
    padding: 1rem;
}
.hero p{
    font-size: 1.5rem;
    font-weight: 200;
    padding: 1rem;
}
.hero-cta{
    background: rgba(0, 0, 255, 1);
    padding: .5rem 3rem;
    border-radius: 5px;
    margin: 1.5rem auto;
    max-width: 300px;
}
