/* reset everything to 0 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

/* header styles start */
header{
    background: #333;
    display: flex;
    width: 100%;
    padding: 1.5rem;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}
.logo-wrap{
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.logo{
    color: aliceblue;
}
.logo-large{
    font-weight: 800;
    font-size: 1.5rem;
}
.nav-menu{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
..nav-menu-item{
    width: 100%;

}
.nav-menu-item a{
    text-decoration: none;
    color: aliceblue;
}
/* .search-box{
    max-width: 20%;
} */
.search-txt{
    padding: .3rem .7rem;
    border: none;
    border-radius: 50px;
    line-height: 100%;
    min-width: 250px;
}
.search-txt:focus{
    outline: none;
}
.fa-search{
    position: relative;
    color: #333;
    right: 40px;
    outline: none;
}
/* header styles end */
/* hero styles */
.hero{
    background: url(/images/pexels-cottonbro-4066294.jpg);
    height: calc(100vh - 8.8vh);
    background-size: cover;
    background-position: center;
    color: #333;
    display: grid;
    place-items: center;
}
.hero-wrap{
    /* padding: 1rem; */
    width: 100%;
    height: 25vh;
    border-radius: 22px;
    display: grid;
    justify-content: center;
    transform: rotate(-4deg);
    /* border: 2px solid red; */
}
.bc-top,
.bc-bottom{
    margin-top: 10px;
    display: flex;
    /* justify-content: space-between; */
    gap: 5rem;
}
.fa-palette{
    color: #333;
    font-size: 40px;
}
.bc-middle{
    text-align: center;
}
.hero h1{
    font-size: 1.5rem;
    line-height: 120%;
    /* padding: .2rem; */
}
.hero p{
    font-size: .8rem;
    font-weight: 400;
    /* padding: .2rem; */
}

.hero-cta, .portfolio{
    background: #ff0000;
    color: #fff;
    padding: .3rem 1.5rem;
    border-radius: 5px;
    margin: .5rem auto;
    width: 130px;
    height: 30px;
    font-size: .7rem;
    border: none;
}
.hero-cta:hover, .portfolio:hover{
    background: #dd0000;
}
